asyncpg==0.27.0
bcrypt==4.0.1
databases==0.7.0
docutils==0.19
docx==0.2.4
fastapi==0.94.0
motor==3.1.2
pkginfo==1.9.6
postgrest-py==0.10.2
psycopg2-binary==2.9.6
pydantic==1.10.6
PyJWT==2.6.0
pymongo==4.3.3
python-docx==0.8.11
python-dotenv==0.21.0
redis==4.5.5
SQLAlchemy==1.4.46
uvicorn==0.21.0